<div class="container">
  <form #f="ngForm" autocomplete="off">
    
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
          <label >Nome</label>
          <input pInputText type="text" ngModel #nome="ngModel" required  name="nome">
          <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
          <label >Logradouro</label>
          <input pInputText type="text" ngModel #logradouro="ngModel" required name="logradouro">
          <app-message [control]="logradouro" error="required" text="Informe o logradouro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
          <label >Número</label>
          <input pInputText type="text" ngModel #numero="ngModel" required name="numero">
          <app-message [control]="numero" error="required" text="Informe o número"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label >Complemento</label>
          <input pInputText type="text" >
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label >Bairro</label>
          <input pInputText type="text" ngModel #bairro="ngModel" required name="bairro">
          <app-message [control]="bairro" error="required" text="Informe o bairro"></app-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label >CEP</label>
          <p-inputMask mask="99.999-999" ngModel #cep="ngModel" required name="cep"></p-inputMask>
          <app-message [control]="cep" error="required" text="Informe o CEP"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
            <label >Cidade</label>
            <input pInputText type="text" ngModel #cidade="ngModel" required name="cidade">
            <app-message [control]="cidade" error="required" text="Informe a cidade"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label >Estado</label>
          <input pInputText type="text" ngModel #estado="ngModel" required name="estado">
          <app-message [control]="estado" error="required" text="Informe o estado"></app-message>
      </div>

      <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <button pButton type="button" label="Novo" class="ui-button-info"></button>
          <a href="javascript;;">Voltar para a pesquisa</a>
        </div>

    </div>  


  </form>
</div>